<div class="angular-schema-form--base64-file">
  <label ng-hide="form.notitle">{{form.title}}</label>
  <div base64-file-upload="form" sf-field-model schema-validate="form">
    <label>
      <input type="file" class="base64-file--input" style="display:none;" ng-disabled="file"/>
      <div class="base64-file--drop-area" ng-class="{'file-hovering': dropAreaHover}">

        <div class="base64-file--file" ng-show="file">
          <div class="base64-file--file-preview"
               ng-style="{'background-image': isImage(file) ? 'url(' + file.src + ')': ''}">
            <span ng-show="!isImage(file)">{{file.ext}}</span>
          </div>
          <div class="base64-file--file-name">{{file.name}}</div>
          <div class="base64-file--file-size">{{file.humanSize}}</div>
          <div class="base64-file--file-remove" ng-click="removeFile($event)">&#10005</div>
        </div>
        <span ng-show="!file" class="base64-file--drop-area-description">{{form.placeholder || 'Click here or drop files to upload'}}</span>
      </div>
    </label>
  </div>

  <span sf-message="form.description"></span>
</div>
